{{#if error}}
	<div class="alert alert-danger" role="alert">
		<strong>{{error}}</strong>
		{{#if errorDetails}}
			<div>{{errorDetails}}</div>
		{{/if}}
	</div>
{{/if}}

<h1>Upload a File</h1>
<form method="post" action="/upload" enctype="multipart/form-data">
	<input type="file" name="file">
	<button type="submit" class="btn btn-lg btn-success">Upload</button>
</form>
{{#if username}}
<h1 class="label">{{username}}'s Files</h1>
{{else}}
<h1 class="label">{{email}}'s Files</h1>
{{/if}}
<ul class="media-list">
	{{#each files as |file|}}
		<li class="media" id="{{file.id}}">
			<div class="media-left">
				<img src="/thumbnail/{{file.id}}" alt="" />
			</div>
			<div id="buttonssection" class="media-body label" style="text-align:left">
				{{file.name}}
				<a href="/download/{{file.id}}" class="btn btn-primary" align="right">Download</a>
				<a href="/preview/{{file.id}}" class="btn btn-primary" align="right">Preview</a>
			</div>
		</li>
	{{/each}}
</ul>
