<div class="jumbotron">
	<h1 class="text-center">Welcome!</h1>
	<p class="text-center"> Please log in below to start the upload process.</p>
</div>

<div class="row">
	<div class="col-md-6-mx-auto">
		<a href="/login" class="btn btn-block btn-primary">Log In</a>
	</div>
</div>
