{{#if error}}
	<div class="alert alert-danger" role="alert">
		<strong>{{error}}</strong>
		{{#if errorDetails}}
			<div>{{errorDetails}}</div>
		{{/if}}
	</div>
{{/if}}

<form action="/login" method="post">
	<div class="form-group">
		<label for="email" class="panel">Email</label>
		<input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
	</div>
	<!-- <div class="form-group">
		<label for="password" class="panel">Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Password">
	</div> -->
	<button type="submit" class="btn btn-lg btn-primary nav-justified">Log In</button>
</form>
